footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
  color: $orange;
  background-color: #FFF;
  padding: 40px;
  font-size: 12px;
  p{
    margin-bottom: 10px;
  }

  a {
    color:inherit;
    text-decoration: underline;
    &:hover{
      color: darken($orange, 10%);
    }
  }
  i{
    margin-right: 5px;
  }
  .social-container{
    text-align: center;
  }
  .social-item{
    display: inline-block;
    color:$text;
    a{
      &:hover{
        color: $text;
        text-decoration: none;
      }
    }
  }
  .fa-facebook{
    color:#3c5b91;
  }
  .fa-twitter{
    color:#4099FF;
  }
}
