// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: cabinregular;
  height: 100vh;
  min-height: 100%;
  color: white;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #FF8963, #FF6F40); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FF8963, #FF6F40); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FF8963, #FF6F40); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #FF8963, #FF6F40); /* Standard syntax */

  .container-fluid {

    .row {
      margin-top: 3vh;
      .middle {
        padding: 0 30px;

        .gauge {
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          margin-bottom: 60px;

          .icon {
            width: 80px;
            height: 80px;

            p {
              text-align: center;
              padding-bottom: 15px;
              font-size: 18px;
            }
          }
        }

        .card {
          background-color: white;
          border-radius: 10px;
          min-height: 400px;
          .image {
            padding: 0 20px;
            transform: translateY(-20px);
            .center-block {
              height: 100%;
              width: 100%;
              border-radius: 10px;
            }
          }



          .title {
            color: #FF8963;
            font-size: 36px;
            font-family: quantify;

          }

          .desc {
            color: #645F5D;
            font-size: 18px;
            font-family: cabinregular;
            margin-top: 20px;
            min-height: 160px;
          }

          .bouton {
            justify-content: space-between;
            display: flex;
            width: 90%;
            margin: 0 auto;
            transform: translateY(-20px);

            .btn {
              text-decoration: none;
              font-family: cabinregular;
              color: white;
              width: 100%;
              background-color: #34C8A7;
              font-size: 24px;
              margin: 0 20px;
              border-radius: 100px;
              text-align: center;
              padding: 3px 20px;
              border: 2px solid transparent;
              transition: border .2s, background-color .2s;
              &:hover {
                border: 2px solid #34C8A7;
                background-color: transparent;
                color: #34C8A7;
              }
            }
          }
        }
      }

      .right {
        h3 {
          font-size: 32px;
          padding-left: 30px;
        }
        // .mod {
        //   width: 0;
        //   .intero {
        //     height: 0;
        //     width: 0;
        //     padding: 0;
        //     margin: 0;
        //     border: 0;
        //     outline: none;
        //       img {
        //         height: 60px;
        //         width: 60px;
        //         border: none;
        //       }
        //
        //     }
        //   }
        //
        //
        // //
        }
      }
    }
  }
  // .modal-header h4{
  //   color: #FF8963;
  //   font-size: 18px;
  //   font-family: quantify;
  // }
  // .modal-header .croix{
  //   border: 1px solid grey;
  //   border-radius: 5px;
  //   padding: 0px 5px 2px 5px;
  //   outline: none;
  // }
  // .modal-body p {
  //   color: #645F5D;
  //   font-size: 14px;
  //   font-family: cabinregular;
  // }

@media screen and (max-width : "950px") {
  .right {
    h3 {
      margin: .8em 0;
    }
  }
}
