// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: cabinregular;


  color: white;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #FF8963, #FF6F40); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FF8963, #FF6F40); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FF8963, #FF6F40); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #FF8963, #FF6F40); /* Standard syntax */

  // form{
  //   max-width: 50%;
  //   margin: 0 auto;
  // }
  .container-fluid {

    .row {

      margin-top: 3vh;
      .middle {
        padding: 0 30px;

        .gauge {
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          margin-bottom: 60px;

          .icon {
            width: 80px;
            height: 80px;

            p {
              text-align: center;
              padding-bottom: 15px;
              font-size: 18px;
            }
          }
        }

        .card {
          background-color: white;
          border-radius: 10px;
          min-height: 400px;
          .image {
            padding: 0 20px;
            transform: translateY(-20px);
            .center-block {
              height: 100%;
              width: 100%;
              border-radius: 10px;
            }
          }



          .title {
            color: #FF8963;
            font-size: 36px;
            font-family: quantify;
          }

          .desc {
            color: #645F5D;
            font-size: 18px;
            font-family: cabinregular;
            margin-top: 20px;
            min-height: 160px;
          }

          .bouton {
            justify-content: space-between;
            display: flex;
            width: 90%;
            margin: 0 auto;
            transform: translateY(-20px);

            .btn {
              text-decoration: none;
              font-family: cabinregular;
              color: white;
              width: 100%;
              background-color: #34C8A7;
              font-size: 24px;
              margin: 0 20px;
              border-radius: 100px;
              text-align: center;
              padding: 3px 20px;
              border: 2px solid transparent;
              transition: border .2s, background-color .2s;
              &:hover {
                border: 2px solid #34C8A7;
                background-color: transparent;
                color: #34C8A7;
              }
            }
          }
        }
      }

      .right {
        h3 {
          font-size: 32px;
          padding-left: 30px;
        }
      }
    }
  }
}

.btn.fileinput-button {
  display: block;
  width: 100px;
  height: 35px;
  input#card_image{
    width: 0;
    margin: 0;
    padding: 0;
  }
  input{
    opacity: 0;
    cursor: pointer;
    width: 0;
  }
}

@media screen and (max-width : "950px") {
  .right {
    h3 {
      margin: .8em 0;
    }
  }
}
