
body {
  font-family: cabinregular;
  height: 100vh;
  min-height: 100%;
  color: white;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #FF8963, #FF6F40); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #FF8963, #FF6F40); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #FF8963, #FF6F40); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #FF8963, #FF6F40); /* Standard syntax */

  .gameover{
    .row {
      margin-top: 3vh;
      .middle {
        padding: 0 30px;

        .gauge {
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          margin-bottom: 60px;

          .icon {
            width: 80px;
            height: 80px;

            p {
              text-align: center;
              padding-bottom: 15px;
              font-size: 18px;
            }
          }
        }

        .card {
          background-color: white;
          border-radius: 10px;
          min-height: 250px;
          text-align: center;

          .placement {
a.btn{
  margin-bottom: 10px;
}
            .title {
              color: #FF8963;
              font-size: 36px;
              font-family: quantify;
              padding-top: 20px;
            }

            .desc {
              color: #645F5D;
              font-size: 18px;
              font-family: cabinregular;
              margin-top: 20px;

              min-height: 100px;
            }

            .game {

              .over {

              }
            }
          }

        }
      }

      .right {
        h3 {
          font-size: 32px;
          padding-left: 30px;
        }
      }
    }
  }
}


@media screen and (max-width : "950px") {
  .right {
    h3 {
      margin: .8em 0;
    }
  }
}
