.gauge {
  margin-top: 20px;
  p {
    margin-bottom: 10px;
  }
  .icon {
    height: 50px;
    width: 50px;
  }
  display: flex;
  justify-content: space-between;
}

.card {
    h1{
      color: $orange;
      font-family: quantify;
      font-size: 32px;
      margin-bottom: 25px;

    }
    h3{
      color: $text;
      font-family: cabinregular;
      font-size: 16px;
      margin-bottom: 60px;
    }

    a{
      border-radius: 5px;
      font-size: 14px;
      box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
      -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
      -o-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
      color: white;
      padding: 10px 0;
      &:visited {
        background: none;
      }
    }


    .haut {
      width: 90%;
      margin-bottom: 20px
    }

    .bas{
      width: 40%;
    }

  margin-top: 70px;
  padding-top: 100px;
  padding-bottom: 60px;

  max-height: 400px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
