// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: white;
  background: red;
  background: -webkit-linear-gradient(left top, #FF8963, #FF6F40);
  background: -o-linear-gradient(bottom right, #FF8963, #FF6F40);
  background: -moz-linear-gradient(bottom right, #FF8963, #FF6F40);
  background: linear-gradient(to bottom right, #FF8963, #FF6F40);
}

.slide-1{
  margin-bottom: 100px;
}
.slide-2{
  margin-bottom: 100px;
  .card{

    img{
      margin-bottom: 25px;
    }
    line-height: 18px;
    min-height: 185px;
    max-width: 290px;
    padding: 20px;
    color:$text;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -o-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  }
}

@media (max-width: 845px){
.card{
  margin-bottom: 30px;
}
}
.slide-3{
  .slide-title{
    font-size: 20px;
    margin-bottom: 40px;
  }
  .text-right{
    text-align: left;
  }
  .text-left{
    text-align: right;
  }
  img{
    max-height: 440px;
  }
  .cta{
    max-width: 150px;
    margin-top: 40px;
  }

}

.cta {

  border-radius: 20px;
  font-size: 16px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}

.home {
  .navbar {
    background: none;
    border: none;

    .cta {
      padding: 6px 24px;

    }

    li a {
      color: #FFF;

      &hover {
        text-decoration: none;
      }
    }
  }

  h1 {
    padding-top: 25%;
    font-size: 0;
    margin-bottom: 20px;
  }

  .presentation {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

// Mise en forme du menu / overide de styles bootstrap

.navbar-default .navbar-nav > li > a.cta:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: $darkest-green;
  color: white;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0, 0,0.1);
}

.navbar-default .navbar-toggle {
  border-color: #FFF;

  &hover {
    background-color: #FFF;
  }

  .icon-bar {
    background-color: #FFF;
  }
}
